---
on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: 'Version bump type to perform'
        required: true
        default: 'patch'
        type: choice
        options:
        - patch
        - minor
        - major

name: Update versions and create release PR

jobs:
  version:
    name: Bump version and create release PR
    runs-on: ubuntu-latest
    environment: release
    steps:
      # See: https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#authenticating-with-github-app-generated-tokens
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate_token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # Fetch all history/tags (needed to compute versions)
          fetch-depth: 0

      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0

      - name: Get old version number
        id: old_cargo_metadata
        run: |
          echo "version=$(nix eval --raw ".#packages.x86_64-linux.default.version")" >> "$GITHUB_OUTPUT"

      - name: Increment `Cargo.toml` version
        run: nix run .#make-release-commit -- ${{ inputs.bump_type }}

      - name: Get new version number
        id: new_cargo_metadata
        run: |
          echo "version=$(nix eval --raw ".#packages.x86_64-linux.default.version")" >> "$GITHUB_OUTPUT"

      - name: Create release PR
        id: release_pr
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          # I'd love a better way of implementing this but GitHub doesn't have
          # one: https://github.com/github-community/community/discussions/13836
          #
          # Also, PRs created with the default `secrets.GITHUB_TOKEN` won't
          # trigger `pull_request` workflows, so regular CI won't run either.
          # See: https://github.com/orgs/community/discussions/65321
          #
          # See: https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#authenticating-with-github-app-generated-tokens
          token: ${{ steps.generate_token.outputs.token }}
          branch: release/${{ steps.new_cargo_metadata.outputs.version }}
          delete-branch: true
          base: main
          title: Release version ${{ steps.new_cargo_metadata.outputs.version }}
          body: |
            Update version to ${{ steps.new_cargo_metadata.outputs.version }} with [cargo-release](https://github.com/crate-ci/cargo-release).
            Merge this PR to build and publish a new release.
          labels: release
